<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кривошеев М.С. и Гавра В.А. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}"
</head>
<body>
    <header>
        WEB - программирование {{self.lab()}}
    </header>
    
    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; ФБИ-11 Кривошеев Гавра
    </footer>

</body>
</html>